.stockLoaderItemsWrapper {
  display: flex;
  gap: 20px;
}

.stockLoaderItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stockLoaderListWrapper {
  min-width: 300px;
  width: 300px;
}

.template-content-wrapper{
  border: 1px solid #ccc;
  padding: 5px;
}

.number-of-stock {
  margin-block-start: 0;
  padding-block-end: 5px;
  margin-block-end: 10px;
  border-bottom: 2px solid #ccc;
}

.stock-items-list {
  padding-inline-start: 15px;
}