.stockLoaderItemsWrapper {
  display: flex;
  gap: 20px;
}

.stockLoaderItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stockLoaderListWrapper {
  min-width: 300px;
  width: 300px;
  border: 1px solid red;
}

.stockLoaderList {
  padding-inline-start: 15px;
}